<section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Servicios</h3>
        <p>Te acompañamos en cada paso, desde la concepción de la idea, hasta el diseño interior final.</p>
      </header>

      <div class="row">

      <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-paper-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Proyectos</a></h4>
            <p class="description">Ofrecemos asesoramiento técnico y de diseño de obra, para lograr plasmar los proyectos lo más fielmente a la idea del cliente.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="">Dirección de Obra</a></h4>
            <p class="description">Garantizamos resultados en tiempo y forma,con un sistema de control y seguimiento desarrollado para cada una de nuestras obras.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-analytics-outline"  style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">Diseño de Interiores</a></h4>
            <p class="description">Brindamos soluciones en decoración y diseño de interiores que se adaptan a cada ambiente, y a los gustos y posibilidades de cada cliente.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Ejecución de Obra</a></h4>
            <p class="description">Contamos con un equipo con la formación necesaria para mantener una atenta supervisión, ofreciendo una construcción sin contratiempos.</p>
          </div>
        </div>
    </div>
  