
<header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="assets\img\logoNordicArq.png" alt="" class="img-fluid"></a>
      </div>
    

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Equipo</a></li>
          <li class="drop-down"><a href="">Nuestros Proyectos</a>
            <ul>
              <li class="drop-down"><a href="#">Viviendas</a>
                <ul>
                  <li><a href="#">Casa Urbana</a></li>
                  <li><a href="#">Casa Quinta</a></li>
                  <li><a href="#">Casa Container </a></li>
                  <li><a href="#">Barrios Privados</a></li>
                  <li><a href="#">Propiedades Multifamiliares</a></li>
                </ul>
              </li>
              <li><a href="#">Oficinas</a></li>
              <li><a href="#">Edificios</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contacto</a></li>
          <li><a href="#contact">Blog</a></li>
        </ul>
        
      </nav><!-- .main-nav -->
      
    </div>
  </header>