<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Nordic Arq Studio</h3>
            <p>Hacemos de la construcción un proceso más simple</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>LINKS</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Equipo</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactanos</h4>
            <p>
              Calle 51 Nº 1000 <br>
              La Plata<br>
              Argentina <br>
              <strong>Teléfono:</strong> 221 - 0000 - 000<br>
              <strong>Email:</strong> arq.diseño@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Newsletter</h4>
            <p>Suscribite a nuestra newsletter y recibí nuestras noticias</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>María del Pilar Urcolaz</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

    
<div class="container">  
  <div class="row">

      <div class="col-lg-2 col-md-2  logo float-left">
          <a href="https://www.unne.edu.ar" target="_blank"><img src="assets/img/logo facena unne.png" class="img-fluid" ></a>
      </div> 
     
      <div class="col-lg-2 col-md-2 logo2 float-left">
          <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"  target="_blank"><img src="assets/img/logo.png" class="img-fluid"></a>
      </div>

      <div class="col-lg-4 col-md-4">
      </div>

      <div class="col-lg-2 col-md-2 logo3 float-right">
          <a href="https://www.argentina.gob.ar/covid-19-medidas-tributarias-nacionales/ministerio-de-desarrollo-productivo" target="_blank"><img src="assets/img/Min.png " class="img-fluid"></a>
      </div>
      <div class="col-lg-2 col-md-2 logo4 float-right">
          <a href="https://www.argentina.gob.ar/economia/conocimiento/secretaria-de-economia-del-conocimiento" target="_blank" ><img src="assets/img/Secret.png" class="img-fluid"></a>
      </div> 
       
  </div> <!--cierro row-->
  <div class="row"> 
    <div class="col-lg-2 col-md-2">
    </div>

    <div class="col-lg-2 col-md-2 mx-auto">
      <p> 
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
          <img 
              src="http://jigsaw.w3.org/css-validator/images/vcss"
              alt="¡CSS Válido!"/>
      </a>
     </p>
   </div>
   <div class="col-lg-2 col-md-2">
  </div>
</div>

</div> <!--cierro conteiner-->
</footer><!-- #footer -->

 