<section id="about">
    <div class="container">

      <header class="section-header">
        <h3>Nosotros</h3>
        <p>Somos un estudio de arquitectura que apuesta por una construcción más accesible, rápida y sustentable.</p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <p>
            Nos inspiran la simpleza en el diseño y la fuerza de los materiales que perduran.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="title"><a href="">Velocidad</a></h4>
            <p class="description">La simpleza y rapidez son los principales atributos de esta modalidad. ¡Implementación sin desvíos costosos!</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-photo"></i></div>
            <h4 class="title"><a href="">Flexibilidad</a></h4>
            <p class="description">La arquitectura prefabricada colabora en enfatizar la libertad de elección individual y el uso flexible del espacio.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Economía</a></h4>
            <p class="description">Gracias a la disminución de materiales se reducen los tiempos, el gasto operativo, el transporte y la mano de obra.</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="../assets/img/nosotros.jpg" class="img-fluid" alt="">
        </div>
      </div>
     
    </div>
  </section>

      
      
      
      
