<hr><hr>

<div class="container">
    <h1>{{post?.title}}</h1>
    <p>{{post?.body}}</p>

    <hr><hr>
    <h3>Comentarios del Post</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Comentario</th>
            </tr>
        </thead>

        <tbody>
            <tr> **ngFor="let comment of comments"
                <td>{{comments.name}}</td>
                <td>{{comments.email}}</td>
                <td>{{comments.body}}</td>
            </tr>
        </tbody>
    </table>
</div>
 