<section id="portfolio" class="clearfix">
    <div class="container">

      <header class="section-header">
        <h3 class="section-title">Portfolio</h3>
        <p>Últimas novedades en Arquitectura y Diseño de Interiores</p>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Todas las Noticias</li>
            <li data-filter=".filter-app">Estilo Minimalista en Diseño de Interiores</li>
            <li data-filter=".filter-card">Estilo Nórdico</li>
            <li data-filter=".filter-web">Casas Minimalistas</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../assets/img/estiloMinimalista.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Estilo Minimalista</a></h4>
              <p>El minimalismo es un movimiento que pasó del arte popular al diseño de interiores en la década de 1920, pero aún hoy es considerado como uno de los estilos más innovadores.</p>
              <div>
                <a href="../assets/img/casaMinimalista.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="../assets/img/casaMinimalista.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Casas Minimalistas</a></h4>
              <p>7 ideas sencillas y prácticas para crear un estilo minimalista en casa</p>
              <div>
                <a href="../assets/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="../assets\img\casaNordica.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="#">Estilo Nórdico</a></h4>
              <p>Un interior que a pesar de ser cómodo, funcional y bonito, parece no querer quitar importancia a la espectacularidad del exterior</p>
              <div>
                <a href="../assets/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
