<!-- esto lo copié del BODY del template-->

  <!--Sección Header -->
  <app-header></app-header>
  <!--Fin Sección Header -->

  <!-- Sección Intro -->
  <app-intro></app-intro>
  <!-- Sección Fin Intro -->

  <main id="main">

    <!-- Sección About Us-->
    <app-about-us></app-about-us>
    <!-- Fin Sección About Us -->

    <!--Sección Arq-Services -->
    <app-arq-services></app-arq-services>
    <!-- Fin Sección  Services -->
   
    
    <!-- Sección Why Us -->
    <app-why-us></app-why-us>
    <!-- Fin Sección Why Us -->


    <!-- Sección Portfolio -->
    <app-portfolio></app-portfolio>
    <!-- Fin Sección Portfolio -->


    <!-- Sección Testimonials-->
    <app-testimonials></app-testimonials>
    <!-- Fin Sección Testimonials -->


    <!--Sección Team -->
    <app-team></app-team>
    <!-- Fin Sección Team -->


    <!-- Clients Section -->
    <app-clients></app-clients>
    <!-- Fin Clients Section -->


    <!-- Sección Contact -->
    <app-contact></app-contact>
     <!-- Fin Sección Contact -->

     <!--Sección Services -->
    
     <router-outlet></router-outlet>

     <app-services></app-services>
     <!-- Fin Sección  Services -->

  </main>

  <!--  Footer -->
  <app-footer></app-footer>
  <!-- Fin Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->


